In [35]:
# HOMEWORK STARTS HERE #
# HOMEWORK STARTS HERE #
print ("cats")

cats

In [36]:
# 1.1.1
#
print "cats"

SyntaxError: Missing parentheses in call to 'print'. Did you mean print("cats")? (<ipython-input-36-54f3a9d3dce1>, line 3)

In [37]:
# Leaving parantheses is a Synatx Error
#
# 1.1.2
print (cats)

NameError: name 'cats' is not defined

In [38]:
#Leaving qutation gives name not defined error
#
# 1.1.3
2++2

4

In [39]:
2+++++3

5

In [40]:
# Number of + does not make a difference
2-2

0

In [41]:
2--2

4

In [42]:
2---2

0

In [43]:
2----2

4

In [44]:
# Number of - signs does make a difference,
# even number of minus signs is eqaul to +
# odd number of minus signs is equal to a single minus

In [45]:
# 1.1.4
2

2

In [46]:
02

SyntaxError: invalid token (<ipython-input-46-0908cbeb2fbd>, line 1)

In [47]:
# Leading 0s are not OK in Python, gives a Syntax Error

In [48]:
# 1.1.5
2 3

SyntaxError: invalid syntax (<ipython-input-48-4390cad21ad6>, line 2)

In [49]:
# Values with no operator gives a syntax error
#
# 1.2.1 
# How many seconds in 42 minutes and 42 seconds
s=42*60+42
print(s)

2562

In [50]:
# THERE ARE 5262 Secs in 42 Minutes and 42 Seconds
#
# 1.2.2
# How many miles in 10Km? 
# (1.61 Km = 1 mile)
m=10/1.61
print(m)

6.211180124223602

In [51]:
# There are 6.21 miles in 10Km
#
# 1.2.3
# 10Km race in 42 minutes and 42 seconds
# What is average pace (Time/mile)
p=s/m
print(p)

412.482

In [52]:
Minutes = p/60
Seconds = p%60
print ("There are ")

There are

In [53]:
Min=int(Minutes)
Sec=int(Seconds)
print (Min, Sec, Minutes, Seconds)

6 52 6.874700000000001 52.48200000000003

In [54]:
print ("The average pace (Minutes/Mile) is {0} Minutes and {1} Seconds".format(Min,Sec))

The average pace (Minutes/Mile) is 6 Minutes and 52 Seconds

In [55]:
# The average pace (Minutes/Mile) is 6 Minutes and 52 Seconds

In [56]:
# 2.1 - MAKING MORE MISTAKES
# 2.1.1 n=42 vs 42=n
n=42
print ("n")

n

In [57]:
# Above prints string "n". Below prints value of n
print(n);

42

In [58]:
42=n

SyntaxError: can't assign to literal (<ipython-input-58-94a448c80b86>, line 1)

In [59]:
# Syntax error if you assign a vaiable to a number
# 2.1.2 x=y=1
x=y=1
print (x, y)

1 1

In [60]:
a=b=c=5
(print(a,b,c))

5 5 5

In [61]:
# 2.1.3 Semicolon OK at end of statement?
a=1
b=2
c=3
print (a,b,c);

1 2 3

In [62]:
print (a,b,c);;

SyntaxError: invalid syntax (<ipython-input-62-d0c933c9d38e>, line 1)

In [63]:
# One semicolon is OK, but more than one is not OK
# 2.1.4 - Is period OK at end of statement?
print (a,b,c).

SyntaxError: invalid syntax (<ipython-input-63-0a4d8f745854>, line 3)

In [64]:
# Period is not OK at end of statement
# 2.1.5 - Can you multiply variables without an operator like xy?
x=2
y=3
a=x*y
b='x*y'
c="x*y"
print (a,b,c)

6 x*y x*y

In [65]:
d=xy

NameError: name 'xy' is not defined

In [66]:
# No you cannot multiply two variables without an operator
# 2.2.1 Volume of a Sphere; Radius, r=5
import math
r=5
pi=math.pi
V=(4/3)*pi*(r**3)
print ("Volume of sphere with radius {0} is {1}".format(r,V))

Volume of sphere with radius 5 is 523.5987755982989

In [67]:
# Below commands rounds value of Volume or 
round(V)

524

In [68]:
abs(V)

523.5987755982989

In [69]:
round(V,1)

523.6

In [70]:
round(V,2)

523.6

In [71]:
round(V,3)

523.599

In [72]:
V

523.5987755982989

In [73]:
print ("Volume of a sphere with radius {0} is {1}".format(r,round(V,2)))

Volume of a sphere with radius 5 is 523.6

In [74]:
# 2.2.2
# Cover price of book is $24.95;
# Bookstore discount = 40% => 0.6*24.95
# Shipping cost for first book = $3; $0.75 for each additional
# What is Wholesale price of 60 books
p=24.95
d=0.4
s1=3
sx=0.75
N=60
CoverPrice60Books=N*p
DiscPrice60Books=(1-d)*N*p
ShippingPrice60Books=s1+(N-1)*sx
W=ShippingPrice60Books+DiscPrice60Books
print("Total Wholesale cost of {0} books is ${1}".format (N,round(W,2)))

Total Wholesale cost of 60 books is $945.45

In [75]:
# Or you can do the below
Wsimple=(1-d)*N*p+s1+(N-1)*sx
print("Total Wholesale cost of {0} books is ${1}".format (N,round(Wsimple,2)))

Total Wholesale cost of 60 books is $945.45

In [76]:
# 2.2.3
# Leave house at 06:52 AM; Run 1 mile at 8:15/mile; Next 3 at 7:12/mile; Next at 8:15/mile
# What is Breakfast time?
import time
print ("The time is:", time.ctime())

The time is: Sun Sep  1 10:48:34 2019

In [77]:
time="06:52"
print(time)

06:52

In [78]:
time="06:52:00"
print(time)
TotalTimeElapsedInSeconds=8*60+15+3*7*60+3*12+8*60+15
TotalMinsElapsed=TotalTimeElapsedInSeconds/60
TM=int(TotalMinsElapsed)
RemainingSeconds=TotalTimeElapsedInSeconds%60
TotalMinutes=52+TM
DelHours=int(TotalMinutes/60)
TotHours=6+1
DelMins=int(TotalMinutes-60)
print(TotalTimeElapsedInSeconds, TotalMinsElapsed, TM, RemainingSeconds, TotalMinutes, DelHours, TotHours, DelMins)
print ("Breakfast time is at {0}:{1}:{2}".format(TotHours,DelMins,RemainingSeconds))

06:52:00
2286 38.1 38 6 90 1 7 30
Breakfast time is at 7:30:6

In [1]:
# Hai's solution
# Time for the first 1 mile (in seconds)
t1 = 8 * 60 + 15

# Time for next 3 miles (in seconds)
t2 = 3 * (7 * 60 + 12)

# Time for last 1 mile (in seconds)
t3 = t1

total_time = t1 + t2 + t3

# Time to get home
52 + total_time/60

90.1

In [79]:
# 2.3
# Import name and age of a user and print their age 10 years ago
Name=input("Please Enter Your Name : ")
CurAge=input("Please Enter Your Current Age : ")

CurrentAge=int(CurAge)

Age10YrsBack=CurrentAge-10

if Age10YrsBack > 0:
    print("{0}, you were {1} years old 10 years ago".format(Name, Age10YrsBack))

if Age10YrsBack < 0:
    print("{0}, you were not born yet! You were {1} years from being born 10 years ago".format(Name, abs(Age10YrsBack)))

if Age10YrsBack==0:
    print("{0}, hey you were born 10 years ago!".format(Name))

Please Enter Your Name : Pita
Please Enter Your Current Age : 15
Pita, you were 5 years old 10 years ago